.container_destroyed {
  width: 350px;
  height: 80px;
  .destroyed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .destroyed_item {
      img {
        width: 32px;
      }
    }
  }
}
