.main_container_destroyed {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 25px;
  .position_destroyed {
    position: absolute;
  }
}
